p{
    color:rgb(11, 83, 83);
}
#pieDePagina{
text-align: center;
    color: rgb(79, 8, 146);
}
#parrafoUno{
    color: rgb(143, 33, 51);
}
p.parrafoDos{
color: brown;
}
h1{
    text-align: center;
    color: rgb(24, 156, 42);
}
body{
    background-color: rgb(224, 196, 159);
}